{% extends './dash-base.html' %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div class="iziToast-wrapper iziToast-wrapper-topRight"><div class="iziToast-capsule" style="height: auto;"><div data-izitoast-ref="1664957825666" class="iziToast iziToast-theme-light iziToast-color-blue iziToast-animateInside iziToast-opened iziToast-paused" id="SGVsbG8lMkMlMjB3b3JsZCFUaGlzJTIwYXdlc29tZSUyMHBsdWdpbiUyMGlzJTIwbWFkZSUyMGl6aVRvYXN0JTIwdG9hc3RyYmx1ZQ"><div class="iziToast-body" style="padding-left: 33px;"><i class="iziToast-icon ico-info revealIn"></i><div class="iziToast-texts"><strong class="iziToast-title slideIn" style="margin-right: 10px;"></strong><p class="iziToast-message slideIn">{{message}}</p></div><div></div></div><button type="button" class="iziToast-close"></button><div class="iziToast-progressbar"><div style="transition: none 0s ease 0s; width: 308.95px;"></div></div></div></div></div>

{% endfor %}
{% endif %}
<div class="main-content">
  <div class="card">
    <form class="needs-validation" novalidate="" method="post">
      {% csrf_token %}
      <div class="card-header">
        <h4>Add Patient Disease</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-4">
            <label>Aadhaar Card Number</label>
            <input type="text" class="form-control purchase-code" placeholder="6262-5322-2245" name="AadhaarId" required="">
          </div>

          <div class="form-group col-4">
            <label>Patient Name</label>
            <input type="text" class="form-control" required="" name="pname">
            <div class="invalid-feedback">
              Please enter Patient's name
            </div>
          </div>
          <div class="form-group col-4">
            <label>Phone Number</label>
            <input type="text" class="form-control phone-number" required="" name="phone">
          </div>
          

          
          
        </div>


        <div class="row">

            <!-- <div class="form-group col-4">
                <label>Hospital ID</label>
                <input type="text" class="form-control "   name="HospitalID" required="">
            </div> -->

            <div class="form-group col-4">
                <label>Disease Type</label>
                <input type="text" class="form-control "   name="Dtype" required="">
            </div>

            <div class="form-group col-4">
                <label>Fees Charged</label>
                <input type="text" class="form-control "   name="fees" required="">
            </div>

         

          

          
        </div>



        <div class="row">
            <div class="form-group  col-4">
                <label>DateTime</label>
                <input type="text" class="form-control datetimepicker" name="rdate">
              </div>

            <div class="form-group col-4">
            
            <label>Mediclaim Raised ?</label>

            <select class="form-control" name="mediclaim">
              <option value="No">No</option>
              <option value="Yes">Yes</option>
             
            </select>
          </div>
             
         

          


        </div>


        <div class="row">

            <div class="form-group col-6">
                <label>Drugs prescribed                </label>
                <textarea class="form-control" required="" name="drugs"></textarea>
              </div>

              <div class="form-group col-6">
                <label>Other Details                </label>
                <textarea class="form-control" required="" name="otherdata"></textarea>
              </div>


        </div>
 
      </div>
      <div class="card-footer text-right">
        <button class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    var cleavePC = new Cleave('.purchase-code', {
      delimiter: '-',
      blocks: [4, 4, 4],
      numericOnly: true,
    });

    var cleavePN = new Cleave('.phone-number', {
      phone: true,
      phoneRegionCode: 'in'
    });
  });
</script>

{% endblock %}