{% extends './dash-base.html' %}

{% block content %}

<div class="main-content">
    <div class="card">
        <div class="card-header">
          <h4>Doctor Data</h4>
          {% comment %}  {% endcomment %}
          
        </div>
        <div class="card-body">
          <div class="table-responsive">
            
            <table class="table table-striped table-hover" id="" style="width:100%;">

              <thead>
                
                <span class="output"></span>
                <tr>
                  <th>Doctor ID</th>
                  <th>User</th>
                  <th>Name</th>
                  <th>Number</th>
                  <th>Email</th>
                  {% comment %} <th>Gender</th> {% endcomment %}
                  <th>Education</th>
                  <th>Address</th>
                </tr> 
              </thead>
              <tbody>
                {% for personal in viewDoc %}
                <tr>
                  <td>{{personal.DoctorID}}</td>
                  {% comment %} <td>{{personal.user}}</td> {% endcomment %}
                  <td>{{personal.name}}</td>
                  <td>{{personal.number}}</td>
                  <td>{{personal.email}}</td>
                  {% comment %} <td>{{persoanl.gender}}</td> {% endcomment %}
                  <td>{{personal.education}}</td>
                  <td>{{personal.address}}</td>
                  {% comment %} <td><a href="/personaldata/{{personal.AadhaarId}}" class="btn btn-primary">Detail</a></td> {% endcomment %}
                </tr>
                 
                {% endfor %}
                
                
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      {% comment %} <div class="card">
        <div class="card-header">
          <h4>Disease Data</h4>
          <select onclick="getOption()" id ="select1" style="font-size: 15px; font-family: Times New Roman,  serif;border:5px black;">
            <option index="0" value="null" >-Select-</option>
            <option index="1" >1 month</option>
            <option index="3" >3 month</option>
            <option index="6" >6 month</option>
            <option index="365" >1 year</option>
            <option index="1200" >ALL</option>
          </select>
           
          
        </div> {% endcomment %}
        
        {% comment %} <div class="card-body">
          <div class="table-responsive">
            
            <table class="table table-striped table-hover" id="" style="width:100%;">

              <thead>
                
                <tr>
 
                  <th>Name</th>
                  
                  <th>Disease Type</th>
                  <th>Report DateTime</th>
                  <th>Drugs Prescribed</th>
                  <th>Data Added By</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="table_wrapper">
                {% for disease in diseasedata %}
                <script>
                  function getOption() {
                    selectElement = document.querySelector('#select1');
                    detail = selectElement.options[selectElement.selectedIndex].index;
                    const date = new Date();
                    let c_str = date.toString();
                    if(c_str.indexof("Feb")>=0){const c_month = 2}
                    if(c_str.indexof("Jan")>=0){c_month = 1}
                    if(c_str.indexof("Mar")>=0){c_month = 3}
                    if(c_str.indexof("Apr")>=0){c_month = 4}
                    if(c_str.indexof("May")>=0){c_month = 5}
                    if(c_str.indexof("Jun")>=0){c_month = 6}
                    if(c_str.indexof("Jul")>=0){c_month = 7}
                    if(c_str.indexof("Aug")>=0){c_month = 8}
                    if(c_str.indexof("Sep")>=0){c_month = 9}
                    if(c_str.indexof("Oct")>=0){c_month = 10}
                    if(c_str.indexof("Nov")>=0){c_month = 11}
                    if(c_str.indexof("Dec")>=0){c_month = 12}
                    
                    
                    
                    
                    
                    //let l_date= "{{disease.ReportDateTime}}";
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    if(detail==1)
                    {
                      console.log(c_month);

                    }
                    else if(detail==2)
                    {
                      console.log("3 month");
                    }
                  }
                </script>
                <tr>
                  
                  <td>{{disease.PatientName}}</td>
                  
                  <td>{{disease.DiseaseType}}</td>
                  <td>{{disease.ReportDateTime}}</td>
                  <td>{{disease.DrugsPrescribed}}</td>
                  <td>{{disease.AddedBy}}</td>
                  <td><a href="/diseasedata/{{disease.AadhaarId}}"  class="btn btn-primary">Detail</a></td>
                </tr>
                 
                {% endfor %}
                
                
                </tr>
              </tbody>
            </table>
          </div>

        </div> {% endcomment %}

      </div>
</div>

 

{% endblock %}